*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
  }
  .card h3{
    font-weight: bold;
  }
  .card{
    width: 250px;
    height: 350px;
    margin: 12px;
    transition: all 0.3s;
    justify-content:center;
    align-items: center;
  }
  .card button{
    position: absolute;
    top: 80%;
  }
  .card:hover{
    transform: scale(1.15);
  }

  @media (max-width:550px){
    .card{
        width: 250px;
        height: 300px;
    }
  }
  @media (min-width:1050px){
      .c-1{
        position: relative;
         top:3vh !important;
      }
      .c-2{
        height:400px; 
        width:300px;
      }
  }